   <div class="div-wrapper fontcolorwhite">
            <h1 class="textaligncenter">Integer bibendum sit amet</h1>
            <h1 class="textaligncenter">arcu vel egestas</h1>
            <div class="banner-container textaligncenter">
                <div class="icon-wrapper"><img class="banner-text-image" src="../resources/icons/1.svg" alt=""><h2>Products</h2></div>
               <div class="icon-wrapper"><img class="banner-text-image" src="../resources/icons/2.svg" alt=""><h2>Solutions</h2></div>
               <div class="icon-wrapper"><img class="banner-text-image" src="../resources/icons/3.svg" alt=""><h2>Offerings</h2></div>
            </div>
        </div> 