    <div class="copy-right">&copy; 2017 Company. All Rights Reserved</div>
        <div class="follow-us"><p class="margin0px">Follow Us :</p>&nbsp; <img src="resources/icons/linkedin_icon.png" alt="Linked In"> <img src="resources/icons/wikipedia_icon.png" alt="Wikipedia"> <img src="resources/icons/youtube_icon.png" alt="YouTube"></div>
    