    <div class="copy-right">&copy; 2017 Company. All Rights Reserved</div>
        <div class="follow-us"><p class="follow-us-text margin0px">Follow Us on:</p>&nbsp; 
        <img class="footer-img" src="resources/icons/facebook-square-brands.svg" alt="Facebook">
        <img class="footer-img" src="resources/icons/linkedin-brands.svg" alt="Linked In"> 
        <img class="footer-img" src="resources/icons/twitter-brands.svg" alt="Twitter"> 
        <img class="footer-img" src="resources/icons/wikipedia-w-brands.svg" alt="Wikepedia">
        </div>
    