<nav class="navbar">

            <div class="logo">Company Logo</div>
            <div class="mobile-menu"><span class="fontcolorwhite mobile-menu-span">&#9776;</span></div>
            <div class="menu">

                <div>About</div>
                <div>Service</div>
                <div>Solutions</div>
                <div>Blog</div>
                <div class="getintouch">Get In Touch</div>

            </div>
            <div class="mobile-getintouch-icon-div"><img class="mobile-getintouch-icon-img" src="resources/icons/search_icon.png" alt="Get In touch"></div>

        </nav>