<nav class="navbar">

            <div class="logo"><span>COMPANY</span><span class="color_logo">LOGO</span></div>
            <div class="mobile-menu"><span class="fontcolorwhite mobile-menu-span">&#9776;</span></div>
            <div class="menu">

                <div>About</div>
                <div>Service</div>
                <div>Solutions</div>
                <div>Blog</div>
                <div class="getintouch"><img class="desktop-getintouch-icon-img" src="resources/icons/comment-alt-regular.svg" alt="Get In touch">Get In Touch</div>

            </div>
            <div class="mobile-getintouch-icon-div"><img class="mobile-getintouch-icon-img" src="resources/icons/comment-alt-regular.svg" alt="Get In touch"></div>

        </nav>