<div class="leftdivtext ">
            <h1>CSS Grid Layout Module. Grid Layout. The CSS Grid Layout Module offers a grid-based layout system, with
                rows and columns, making it easier to design web pages.
            </h1>
            <p>CSS Grid Layout is the most powerful layout system available in CSS. It is a 2-dimensional system,
                meaning it can handle both columns and rows, unlike flexbox which is largely a 1-dimensional system. You
                work with Grid Layout by applying CSS rules both to a parent element (which becomes the Grid Container)
                and to that element's children (which become Grid Items).</p>
        </div>
        <div class="rightdivimg "><img src="resources/globe.png" alt="Globe image"></div>