   <div class="container">
        <div class="header">{% include "_header.html.twig" %}</div>
        <div class="banner">{% include "_banner.html.twig" %}</div>
        <div class="info padding-left-right-5">{% include "_info.html.twig" %}</div>
        <div class="testimonials backgroundlightcolor padding-left-right-5">{% include "_testimonials.html.twig" %}</div>
        <div class="form">{% include "_form.html.twig" %}</div>
        <div class="footer">{% include "_footer.html.twig" %}</div>
    </div>