<h1 style="text-align: center">Testimonials</h1>

        <div class="grid-container">
            <div class="grid-item">
                <div class="testimonialtext">
                    <p><span class="start_doublequotes">&ldquo;</span>I just wanted to share a quick note and let you know that you guys do a really good job. I’m glad I decided to work with you. 
                    It’s really great how easy your websites are to update and manage. I never have any problem at all.&rdquo;
                </div>
                <div class="customername"><img src="resources/icons/black_support_icon.png" alt="Customer">
                    <p>Abhinav</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="testimonialtext">
                    <p><span class="start_doublequotes">&ldquo;</span>My new site is so much faster and easier to work with than my old site. It used to take me an hour or more to update a page and I would still sometimes screw things up.
                    Now it’s almost like having a designer right here with me. I just choose the page, make the change and click save. It’s so simple.
                    Thanks, guys!&rdquo;</p>
                </div>
                <div class="customername"><img src="resources/icons/black_support_icon.png" alt="Customer">
                    <p>Sachin</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="testimonialtext">
                    <p><span class="start_doublequotes">&ldquo;</span>Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!&rdquo;</p>
                </div>
                <div class="customername"><img src="resources/icons/black_support_icon.png" alt="Customer">
                    <p>Mathwe</p>
                </div>
            </div>

        </div>