<html>
<head>
    <meta charset="UTF-8">
    <title>Axelerant: Interview Frontend</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    {% include "_mainpage.html.twig" %}
    <script  src="https://code.jquery.com/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>
    <script src="main.js"></script>
    
</body>
